* {
    margin: 5px;
    box-sizing: border-box;
}

body {
    height: 20vh;
    background: #FAE7A5;
    font-family: sans-serif;
    text-align: center;
    color: white;
    font-size: 24px;
    display: flex;
    flex-direction: column;
}

header {
    position:fixed;
    top: 0;
    width: 97%;
    height: 90px;
    margin-top: 0;
    margin-left: 10px;
    margin-right: 10px;
    background: #989f9f;
    padding: 0.5em 0 2em 2em;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.main {
    display: flex;
    flex: 1;
}

.left {
    background-image: url(images/background_image.jpg);
    background-size: 600px;
    padding: 5em 0 3em 0;
    flex: 1 1 100px;
    box-shadow: 0px -8px 8px rgba(0,0,0,0.5);
}

main {
    background: #19A7CE;
    padding: 3em 0 3em 0;
    height: 2600px;
    width: 1500px;
    flex: 5 5 150px;
}

p {
    font-size: 18px;
}

.pc, .typewriter {
    width: 500px;
    padding-right: 10px
}

.pc {
    margin-top: 100px;
    margin-left: 20px;
}

.description_1 {
    left: 400px;
    padding: 10px;
}


.typewriter {
    justify-content: flex-end;
}
.description_2 {
    display: flex;
    justify-content:center;
    left: 800px;
    padding: 10px;
}



.right {
    background: #b28db5;
    padding: 5em 0 3em 0;
    flex: 1 1 100px;
    box-shadow: -8px 0px 8px rgba(0,0,0,0.2);
}

footer {
    position: fixed;
    bottom: 0;
    width: 97%;
    height: 80px;
    margin-left: 10px;
    margin-bottom: 0;
    background: #FAE7A5;
    padding: 1em 0 1em 0;
    box-shadow: -8px 0px 8px rgba(0,0,0,0.2);
}

@media screen and (min-width: 1150px) and (max-width: 1250px) {
    header {
        max-width:96.6%;
    }
    footer {
        max-width:96.6%;
    }
}
@media screen and (min-width: 1070px) and (max-width: 1150px) {
    header {
        max-width:96.4%;
    }
    footer {
        max-width:96.4%;
    }
}
@media screen and (min-width: 990px) and (max-width: 1070px) {
    header {
        max-width:96%;
    }
    footer {
        max-width:96%;
    }

}
@media screen and (min-width: 915px) and (max-width: 990px) {
    header {
        max-width:95.8%;
    }
    footer {
        max-width:95.8%;
    }
}
@media screen and (min-width: 800px) and (max-width: 915px) {
    header {
        max-width:95.3%;
    }
    footer {
        max-width:95.3%;
    }
}
@media screen and (min-width: 760px) and (max-width: 800px) {
    header {
        max-width:95%;
    }
    footer {
        max-width:95%;
    }
}
@media screen and (min-width: 700px) and (max-width: 760px) {
    header {
        max-width:94.4%;
    }
    footer {
        max-width:94.4%;
    }
}
@media screen and (min-width: 670px) and (max-width: 700px) {
    header {
        max-width:94.1%;
    }
    footer {
        max-width:94.1%;
    }
}
@media screen and (min-width: 615px) and (max-width: 670px) {
    header {
        max-width:93.7%;
    }
    footer {
        max-width:93.7%;
    }
}
@media screen and (min-width: 550px) and (max-width: 615px) {
    header {
        max-width:93.3%;
    }
    footer {
        max-width:93.3%;
    }
}
@media screen and (min-width: 500px) and (max-width: 550px) {
    header {
        max-width:92.4%;
    }
    footer {
        max-width:92.4%;
    }
}
@media screen and (min-width: 458px) and (max-width: 500px) {
    header {
        max-width:92%;
    }
    footer {
        max-width:92%;
    }
}
@media screen and (min-width: 450px) and (max-width: 458px) {
    header {
        max-width:92%;
    }
    footer {
        max-width:92%;
    }
}
@media screen and (max-width: 450px) {
    header {
        width:100%;
    }
    footer {
        width:100%;
    }
}